@use "../../../utils.scss" as *;

.btn {
    padding: 10px 20px;
    border-radius: 9999px;
    text-align: center;
    color: $secondColor;
    font-weight: bold;
    background-color: $textColor;
    position: relative;
    overflow: hidden;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 18px;
    transition: all .1s ease-out;

    &.hover {
        color: $textColor;
        background-color: $secondColor;
    }

    &.hover:hover {
        background-color: $mainColor;
        transition: all .1s ease-out;
    }

    &.selected {
        background-color: $mainColor;
        transition: all .1s ease-out;
    }

    &.disabled {
        pointer-events: none;
        opacity: 0.5;
        cursor: not-allowed;
        user-select: none;
    }

    //animation scroll styles
    &.animate {
        opacity: 0;
        pointer-events: none;
        visibility: hidden;
        transform: scale(0);

        &.animating {
            opacity: 1;
            pointer-events: auto;
            visibility: visible;
            transform: scale(1);
        }
    }

    & .item {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;

        & img {
            width: 24px;
            height: 24px;
        }
    }
}

.small {
    padding: 8px 14px;
    font-size: 16px;
}
