@use "../../utils.scss" as *;

.wrapper {
    padding-top: 40px;
    margin-bottom: 140px;
}

.box {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
}

.item {
    background: $cardBgColor;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0px 0px 10px 0px $shadowColor;
    opacity: 0;
    pointer-events: none;
    transform: scale(0.7);

    &.active {
        opacity: 1;
        pointer-events: auto;
        transform: scale(1);
        transition-duration: 0.4s;
    }

    & img {
        width: 50px;
        height: 50px;
    }

    .webImg {
        width: 60px;
        height: 60px;
    }
}

.title {
    font-size: 26px;
    color: $textColor;
    margin-bottom: 10px;
}

.text {
    font-size: 18px;
    color: $textSubColor
}