@use "../../utils.scss" as *;

a img {
    width: 30px;
    height: 30px;
}

.wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 40px;
}

.first {
    display: flex;
    flex: 0 0 400px;
    gap: 20px;
}

.photo {
    flex: 0 1 360px;
    overflow: hidden;
    border-radius: 14px;
    height: 480px;
    position: relative;

    &:after {
        content: "";
        border-radius: 24px;
        display: block;
        position: absolute;
        left: -5px;
        top: -5px;
        width: calc(100% + 10px);
        height: calc(100% + 10px);
        background-color: transparent;
        -webkit-box-shadow: inset 0px 0px 0px 14px rgba(255, 255, 255, 0.3);
        box-shadow: inset 0px 0px 0px 14px rgba(255, 255, 255, 0.3);
        background-blend-mode: multiply;
    }
}

.photoItem {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.socials {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.link {
    width: 30px;
    height: 30px;
    position: relative;
    @extend %center;
    border-radius: 4px;
    overflow: hidden;
    background-color: $mainColor;
    transform: scale(1) rotate(0deg);

    &:hover {
        transform: scale(1.2) rotate(20deg);
    }
}

.icon {
    position: absolute;
    width: 62%;
    height: 62%;
    fill: #fff;
}

.iconYt, .iconGt {
    position: absolute;
    width: 62%;
    height: 62%;

    & path {
        fill: #fff;
    }

}

.title {
    font-size: 30px;
}

.text {
    margin: 14px 0px;
    font-size: 20px;
    font-weight: bold;
    color: $mainColor;
    font-style: italic;
}

.subtext {
    font-size: 18px;
    margin-bottom: 20px;
}

.listItem:not(:last-child) {
    margin-bottom: 5px;
}

.itemInfo {
    margin-right: 8px;
    font-size: 18px;
    color: $textSubColor;
}

.itemData {
    margin-left: 8px;
    font-size: 18px;
    color: $mainColor;
}