@use "../../../utils.scss" as *;

.box {
    width: 100%;

    .top {
        display: flex;
        align-items: center;
        gap: 6px;
        font-size: 20px;
        font-weight: bold;
        justify-content: center;
        margin-bottom: 20px;

        & img {
            width: 28px;
            height: 28px;
        }

        & .title {
            text-align: center;
        }
    }

    .description {
        font-size: 16px;

        & img {
            display: inline;
            transform: translateY(20%);
            width: 20px;
            height: 20px;
        }

        & span {
            margin-left: 3px;
        }
    }

    .bottom {
        margin-top: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;

        @media (max-width: 340px) {
            flex-wrap: wrap;
            gap: 5px;
        }

        .link {
            color: $textColor;
            font-weight: bold;
            font-size: 16px;
            display: flex;
            align-items: center;
            gap: 5px;
            padding: 5px;

            &:hover {
                text-decoration: underline;
            }
        }

        & img {
            width: 30px;
            height: 30px;
        }
    }
}