@use "../../utils.scss" as *;

.overlay {
    position: fixed;
    left: 0;
    top: 0;
    padding: 20px;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    pointer-events: none;
    opacity: 0;
    overflow: hidden;
    transition: all .3s ease;

    &.active {
        opacity: 1;
        visibility: visible;
        pointer-events: auto;
        transition: all .3s ease;

        .modal {
            transform: scale(1);
            opacity: 1;
            pointer-events: auto;
            transition: all .3s ease;
        }
    }

    & .modal {
        background-color: $bgLightColor;
        flex: 0 1 580px;
        max-width: 580px;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0px 0px 22px 0px $shadowColor;
        transform: scale(0.8);
        opacity: 0;
        pointer-events: none;
        overflow: hidden;
        transition: all .3s ease;

        & .footer {
            margin-top: 22px;
            text-align: right;
        }
    }
}