@use "../../../utils.scss" as *;

.badge {
    color: $mainColor;
    font-size: 13px;
    padding: 4px 8px;
    border: 2px solid $mainColor;
    border-radius: 9999px;
    user-select: none;

    &.small {
        font-size: 12px;
        padding: 2px 4px;
    }
}