@use "../../utils.scss" as *;
@use "sass:color";

.box {
    text-align: center;
    padding: 20px;
    padding-top: 40px;

    & .text {
        font-size: 16px;

        & a {
            color: $mainColor;
            text-decoration: underline;
            font-weight: bold;

            &:hover {
                color: color.adjust($mainColor, $lightness: -10%);
            }
        }
    }
}