@use "../../../utils.scss" as *;
@use "sass:color";

.wrapper {

    & > .title {
        font-size: 20px;
        text-align: center;;
        margin-bottom: 16px;
    }

    & > .image {
        position: relative;
        margin-bottom: 12px;
        height: 220px;
        overflow: hidden;
        border-radius: 8px;
        box-shadow: 0px 0px 30px 0px rgba(211, 153, 46, 0.1);

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center top;
        }
    }

    & > .info {

        & > .titles {
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            gap: 10px;
            margin-bottom: 12px;
    
            & .desc {
                font-size: 18px;
                font-weight: bold;
            }
        }

        & > .links {
            margin-bottom: 12px;

            & .linksTitle {
                color: $mainColor;
                font-size: 16px;
                margin-bottom: 4px;
                text-decoration: underline;
            }

            & .linksBox {
                display: flex;
                gap: 16px;
                flex-wrap: wrap;
            }
        }

        & > .features {
            margin-bottom: 12px;

            & .featuresTitle {
                color: $mainColor;
                font-size: 16px;
                margin-bottom: 4px;
                text-decoration: underline;
            }

            & .featuresList {

                & .featureItem {
                    color: color.adjust($mainColor, $lightness: 20%);
                    font-size: 16px;
                }

            }
        }

        & > .tech {

            & .techTitle {
                color: $mainColor;
                font-size: 16px;
                margin-bottom: 6px;
            }

            .techBox {
                display: flex;
                flex-wrap: wrap;
                gap: 6px;
            }
        }
    }

}