@use "../../../utils.scss" as *;
@use "sass:color";

.wrapper {

    & > .title {
        font-size: 20px;
        text-align: center;
        margin-bottom: 16px;

        @media (max-width: 500px) {
            font-size: 18px;
            margin-bottom: 14px;
        }
    }

    & > .info {
        padding: 0px 10px;

        & > .titles {
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            gap: 10px;
            margin-bottom: 12px;
    
            & .desc {
                font-size: 18px;
                font-weight: bold;

                @media (max-width: 500px) {
                    font-size: 16px;
                }
            }
        }

        & > .links {
            margin-bottom: 12px;

            & .linksBox {
                display: flex;
                gap: 16px;
                flex-wrap: wrap;

                @media (max-width: 432px) {
                    gap: 4px;
                }
            }
        }

        & > .features {
            margin-bottom: 12px;

            & .featuresList {

                & .featureItem {
                    color: color.adjust($mainColor, $lightness: 20%);
                    font-size: 16px;

                    @media (max-width: 500px) {
                        font-size: 12px;
                    }
                }

            }
        }

        & > .tech {

            .techBox {
                display: flex;
                flex-wrap: wrap;
                gap: 6px;
            }
        }
    }

}

.blockTitle {
    color: $textSubColor;
    font-weight: bold;
    font-size: 14.5px;
    margin-bottom: 5px;
}