//collors
$wrapperSize: 1200px;
$maxWidth: 1200;
$bgColor: #121212;
$mainColor: #d3992e;
$cardBgColor: #161616;
$textColor: #e2e2e2;
$textSubColor: darkgrey;
$secondColor: #272727;
$bgLightColor: #171717;
$shadowColor: rgba(0, 0, 0, 0.1);

$tgColor: #29B4E4;
$vkColor: #4B74A2;
$postColor: #EEEEEE;

%center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin adaptiv-font($pcSize, $mobSize, $limit) {
    $addSize: $pcSize - $mobSize;
    $maxWidth: $maxWidth - 320;
    & {
        @media (max-width: $limit) {
            font-size: calc(#{$mobSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth}));
        }
    }
}

//max-width that limit change value (lower limit = value adaptiv)
@mixin adaptiv($prop, $newValue, $oldValue, $limit) {
    @media (max-width: $limit) {
        #{$prop}: calc(#{$newValue + px} + #{$oldValue - $newValue} * ((100vw - 320px) / #{$maxWidth - 320}));
    }
}