@use "../../../utils.scss" as *;

.wrapper {
    width: 100%;

    & > .title {
        text-align: center;
        margin-bottom: 20px;
        font-size: 20px;
    }

    & > .tabs {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 14px;

        @media (max-width: 630px) {
            justify-content: center;
            flex-wrap: wrap;
            gap: 12px;
        }
    }

    & > .box {

        & .techName {
            font-size: 16px;
            font-weight: bold;
            margin-bottom: 8px;
            text-decoration: underline;
        }

        & .notice {
            margin-bottom: 6px;
        }

        & .list {
            width: 100%;
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            gap: 8px;
        }
    }
}