@use "../../utils.scss" as *;
@use "sass:color";

.wrapper {
    padding-top: 40px;
    margin-bottom: 140px;
}

.box {
    display: flex;
    justify-content: space-between;

    @media (max-width: 820px) {
        flex-direction: column;
        gap: 20px;
    }
}

.inputs {
    flex: 0 1 460px;

    @media (max-width: 820px) {
        flex: 0 1 auto;
    }
}

.title {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 14px;
}

.block {

    &:last-of-type {
        margin-bottom: 20px;
    }
    
    & .label {
        color: $textColor;
        margin-bottom: 4px;
        font-weight: bold;
    }

    & .input {
        width: 100%;
        max-width: 560px;
        font-size: 16px;
        padding: 6px 12px;
        border-radius: 5px;
        outline: none;
        box-shadow: 0px 0px 0px 0px $textSubColor;
        background: color.adjust($textColor, $lightness: -10%);
        border: none;

        @media (max-width: 820px) {
            max-width: 100%;
        }

        &.loading {
            pointer-events: none;
            opacity: 0.5;
        }

        &:focus {
            background: $textColor;
            box-shadow: 0px 0px 0px 2px color.adjust($textSubColor, $lightness: -20%);
        }

        &:not(:placeholder-shown) {
            background: $textColor;
        }
    }

    &:not(:last-of-type) {
        margin-bottom: 14px;
    }

    & .message {
        width: 100%;
        max-width: 560px;
        font-size: 14px;
        padding: 6px 12px;
        border-radius: 5px;
        border: none;
        outline: none;
        resize: vertical;
        box-shadow: 0px 0px 0px 0px $textSubColor;
        background: color.adjust($textColor, $lightness: -10%);
        min-height: 130px;
        
        @media (max-width: 820px) {
            max-width: 100%;
        }

        &.loading {
            pointer-events: none;
            opacity: 0.5;
        }

        &:focus {
            background: $textColor;
            box-shadow: 0px 0px 0px 2px color.adjust($textSubColor, $lightness: -20%);
        }
    }

    .error {
        color: $mainColor;
        display: flex;
        align-items: center;
        gap: 6px;
        font-size: 16px;
        margin-top: 6px;

        & img {
            width: 16px;
            height: 16px;
        } 
    }

}

.divider {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    .dividerItem {
        position: relative;
        background: $bgColor;
        color: $textSubColor;
        border: 2px solid $textSubColor;
        border-radius: 9999px;
        padding: 8px 16px;
    }

    &:after {
        content: "";
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        height: 60%;
        width: 2px;
        background-color: $textSubColor;
        z-index: -1;

        @media (max-width: 820px) {
            height: 2px;
            width: 80%;
        }
    }
}
